@use 'utils' as *;

.btnContainer {
    @include flexCol(center);

    gap: pxRem(50);
    width: 100%;
    transition: transform 1.2s var(--cubic-bezier);
    margin-top: pxRem(80);

    & button {
        flex-grow: 1;
    }

    @include breakpointUp(768) {
        margin-top: pxRem(0);
    }

    @include breakpointUp(1200) {
        transform: translateY(400px);
    }
}