@use 'utils' as *;

.logo__wrapper {
    @include flexCol(center);

    width: 100%;
    min-height: 100vh;
    // height: var(--default-height);
    position: relative;
    overflow: hidden;
    
    transition: transform var(--time-1) var(--cubic-bezier);
    transform: translateY(500px);
    will-change: transform;
    
    gap: pxRem(60);

    @include breakpointUp(768) {
        gap: clamp(pxRem(80), calc(pxRem(80) + 2.5vw), pxRem(100));
    }

    @include breakpointUp(1200) {
        gap: clamp(pxRem(100), calc(pxRem(100) + 2.5vw), pxRem(135));
    }

    @include breakpointUp(1400) {
        gap: clamp(pxRem(125), calc(pxRem(125) + 2.5vw), pxRem(180));
    }
}

.logo__heading {
    text-align: center;
    font-weight: 500;
    font-size: 47px;
    line-height: 0.9;
    letter-spacing: -0.04em;
    color: var(--color-dark);
    max-width: pxRem(740);
    width: 100%;
    margin: 0 0 pxRem(50) 0;
}


.logo__textLine_wrapper {
    @include flexRow(flex-start, center);

    position: relative;
    height: pxRem(450);
}