@use 'utils' as *;

.logo__wrapper {
    @include flexCol(center);

    gap: pxRem(110);
    position: relative;
    top: pxRem(400);
}

.logo__heading {
    text-align: center;
    font-weight: 500;
    font-size: 47px;
    line-height: 0.9;
    letter-spacing: -0.04em;
    color: var(--color-dark);
    max-width: pxRem(740);
    width: 100%;
    margin: 0 0 pxRem(50) 0;
}