@use 'utils' as *;

.logo__wrapper {
    @include flexCol(center);

    gap: pxRem(110);
    width: 100%;
    min-height: 100vh;
    // height: var(--default-height);
    position: relative;
    overflow: hidden;

    transition: transform var(--time-1) var(--cubic-bezier);
    transform: translateY(400px);
    will-change: transform;
}

.logo__heading {
    text-align: center;
    font-weight: 500;
    font-size: 47px;
    line-height: 0.9;
    letter-spacing: -0.04em;
    color: var(--color-dark);
    max-width: pxRem(740);
    width: 100%;
    margin: 0 0 pxRem(50) 0;
}


.logo__textLine_wrapper {
    @include flexRow(flex-start, center);

    position: relative;
    height: pxRem(450);
}