@use 'utils' as *;

.main {
    @include flexCol(center);
    
    width: 100%;
}


.main__section_intro_screen {
    width: 100%;
}


.main__intro_wrapper {
    width: 100%;
    min-height: 100vh;

    transition: transform var(--cubic-bezier) var(--time-1);
}


.main__description_wrapper {
    @include fontBigCentered;
    @include flexCol(center, center);

    height: pxRem(512);
    padding: pxRem(154) pxRem(38) 0;
}


.main__running_line_wrapper_middle {
    @include flexCol(center, center);

    height: pxRem(450);
}

.main__section_services {
    @include flexCol;
    gap: pxRem(80);

    max-width: pxRem(1600);
    padding: 0 pxRem(40);
    width: 100%;
}