@use 'utils' as *;

.scrollContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: var(--scroll-height);

    transition: transform var(--time-1) var(--cubic-bezier);
}