@use 'utils' as *;

.textWrapper {
    @include flexCol;

    overflow: hidden;
    max-height: pxRem(20);
    position: relative;

    & span {
        transition: transform 300ms ease-in-out;

        &:nth-child(1) {
            transform-origin: right;
        }

        &:nth-child(2) {
            position: absolute;
            transform-origin: left;
            transform: rotate(30deg) translateY(30px);
        }
    }

    &:hover {
        > span:nth-child(1) {
            transform: rotate(30deg) translateY(-35px);
        }

        > span:nth-child(2) {
            transform: rotate(0deg) translateY(-2px);
            text-decoration: 2px underline solid var(--color-primary);
        }
    }


    &[data-color=dark] {
        &:hover {
            > span:nth-child(2) {
                transform: rotate(0deg) translateY(-2px);
                text-decoration: 2px underline solid var(--color-dark);
            }
        }
    }
}