@use 'utils' as *;

// resets
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media (hover: hover) and (pointer: fine) {
        cursor: none;
    }
}

button {
    background-color: inherit;
    border: none;
}

ul {
    list-style: none;
}

button, input {
    font: inherit;
}

li {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

// defining variables
:root { 
    // colors
    --color-dark: hsl(229, 22%, 10%);
    --color-bright: hsl(56, 100%, 67%);
    --color-primary: hsl(206, 47%, 90%);
    --color-error: hsl(353, 100%, 70%);
    --color-gray: hsla(206, 47%, 90%, 0.4);
    
    --color-gradient-yellow: hsla(47, 75%, 78%, 0.8);
    --color-gradient-violet: hsla(266, 77%, 88%, 0.8);
    --color-gradient-purple: hsla(266, 100%, 73%, 0.8);

    // animation / transition
    --cubic-bezier: cubic-bezier(0, -0.01, 0.25, 1);
    --time-1: 1.2s;
    --time-running-line: 1.5s;

    // heights
    // + 10px added for running line visibility
    --scroll-height: 4450px;
    --default-height: 910px;
}

body {
    @include flexCol;

    height: var(--scroll-height);

    font-weight: 500;

    background-color: var(--color-dark);
    color: var(--color-primary);
}