@use 'utils' as *;

.services__add_container {
    display: grid;
    // mobile view
    width: 90vw;
    gap: pxRem(40) 0;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    
    margin: 0;
    transition: transform 1.2s var(--cubic-bezier);
    
    @include breakpointDown(768) {
        grid-template-rows: repeat(3, auto);
        max-width: pxRem(480);
    }

    @include breakpointUp(768) {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: column;
        gap: 0 pxRem(40);
        
        margin-bottom: pxRem(80);
    }

    @include breakpointUp(1200) {
        transform: translateY(350px);
    }
}